/*FONT IMPORT*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*VARIABLES*/
:root {
  /*https://colorpalettes.net/color-palette-4014/ */
  --background: #fffffe;
  --mainBrown: #7c4937;
  --lightBrown: #b98352;
  --highlightYelllow: #e2be32;
  --greyMagic: #655d5b;
  --mainWhite: #fffffe;
  --spinner: #333333;
  --spinnerLight: #d6d6d6; /*80%tint from spinner */

  /*Product Catalog*/
  --itemNameHover: #333333;

  /*NavBar*/
  --mobileCategory: #7c4937;
  --activeLink: #7c4937;

  /*Buttons*/
  --btnMainBack: #333333;
  --btnMainText: #fffffe;
  --btnHoverBack: #fffffe;
  --btnHoverText: #333333;
  --btnHoverBorder: #333333;

  /*Shadows*/
  --light-shadow: 0 5px 15px rgba(46, 46, 46, 0.1);
  --dark-shadow: 0 5px 15px rgba(53, 52, 52, 0.25);

  /*Transitions*/
  --allTransition: all 0.3s linear;
  --shortTransition: all 0.1s linear;
}

/*GLOBAL SETTINGS*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: default;
  font-weight: 400;
  color: var(--white);
}

.sectionCenter {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

/* NAVBAR*/

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0rem 1.5rem;
}

.navbarMenuIcon {
  width: 1.5rem;
  cursor: pointer;
  transition: var(--allTransition);
}

.navbarMenuIcon-active {
  transform: rotate(-90deg);
  transition: var(--allTransition);
}

.navbarLogo {
  width: 9rem;
  cursor: pointer;
}

.navbarFilterContainer {
  background: var(--mainWhite);
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0%;
  list-style-type: none;
  width: 100%;
  transition: var(--allTransition);
  box-shadow: var(--dark-shadow);
  z-index: 1;
}

.navbarFilterContainer-active {
  height: 237px;
  transition: var(--allTransition);
}

.navbarFilterItem {
  padding: 0.7rem 0.2rem;
  width: 100%;
  cursor: pointer;
  padding-left: 1.5rem;
  transition: var(--allTransition);
  display: flex;
}

.navbarFilterItem:hover {
  padding-left: 2rem;
  transition: var(--allTransition);
  background-color: var(--mobileCategory);
  color: var(--mainWhite);
  cursor: pointer;
}

.navbarFilterBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}

.cartIcon {
  width: 2rem;
  cursor: pointer;
}

.activeLink {
  background-color: var(--activeLink);
}

/*NAVBAR MEDIA QUERY*/

@media screen and (min-width: 900px) {
  .navbar {
    padding: 0rem 2.5rem;
  }

  .navbarMenuIcon {
    display: none;
  }
  .navbarFilterContainer {
    width: auto;
    height: auto;
    gap: 1rem;
    position: static;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    padding-left: 2rem;
    border-left: 1px solid black;
    margin-left: 2rem;
  }

  .navbarFilterItem {
    padding: 0;
    width: auto;
    border-bottom: 1px solid transparent;
    padding: 0.2rem 0;
  }

  .navbarFilterItem:hover {
    padding-left: 0;
    background-color: transparent;
    color: var(--activeLink);
  }
  .navbarFilterBtn {
    font-size: 0.9rem;
  }

  .activeLink {
    color: var(--activeLink);
    background-color: transparent;
  }
}

@media screen and (min-width: 1290px) {
  .navbar {
    margin: 0 auto;
    width: 95vw;
  }

  .navbarFilterContainer {
    gap: 2rem;
    margin-right: auto;
    padding-left: 2rem;
    border-left: 1px solid black;
    margin-left: 2rem;
  }

  .navbarFilterBtn {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .cartIcon {
    width: 2.2rem;
  }
}

/*END OF NAVBAR*/

/******************************************/
/********** PRODUCTS DISPLAYING***********/
/****************************************/

/*ITEM LIST */

.itemsContainer {
  max-width: 1400px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

/*SINGLE ITEM*/

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.itemImageContainer {
  width: 100%;
  max-width: 23rem;
  max-height: 25rem;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: var(--allTransition);
}

.itemName {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: var(--allTransition);
}

.itemPrice {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.item:hover .itemName {
  color: var(--itemNameHover);
  transition: var(--allTransition);
}

.item:hover .itemImage {
  transform: scale(1.2);
  transition: var(--allTransition);
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .itemsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .itemImageContainer {
    width: 100%;
    max-width: 20rem;
    max-height: 22rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .itemImageContainer {
    width: 100%;
    max-width: 20rem;
    height: 22rem;
  }
}

/******************************************/
/********** PRODUCTS DETAIL***************/
/****************************************/

.itemDetailContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 350px;
}

/*BACK HOME BUTTON*/

.ItemDetailHomeBtn {
  width: max-content;
  margin-bottom: 1.5rem;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
  color: var(--btnHoverText);
  cursor: pointer;
  background-color: transparent;
  transition: var(--allTransition);
  font-weight: 500;
  margin-top: 2rem;
  border: 1px solid var(--btnMainBack);
}

.ItemDetailHomeBtn:hover {
  background-color: var(--btnMainBack);
  border: 1px solid var(--btnMainBack);
  color: var(--btnMainText);
  transition: var(--allTransition);
}

/*MAIN INFO*/

.itemDetailImg {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.itemDetailName {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.itemDetailPrice {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.itemDetailDescrip {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.itemDetailStock,
.itemDetailId,
.itemDetailCategory {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
}

.itemDetailStrong {
  font-weight: 600;
}

/*CART STYLING*/

.itemDetailCart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.itemDetailCartMenu {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cartBtn {
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  border: 1px solid black;
  background-color: transparent;
}

.cartBtnIcon {
  width: 1.3rem;
  cursor: pointer;
}

.ItemDetailCartCount {
  font-size: 1rem;
  margin: 0 1rem;
  font-weight: 500;
}

.cartAddBtn {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.7rem 1rem;
  background-color: var(--btnMainBack);
  border: 1px solid var(--btnMainBack);
  color: var(--btnMainText);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--allTransition);
}

.cartAddBtn:hover {
  background-color: var(--btnHoverBack);
  color: var(--btnHoverText);
  border: 1px solid var(--btnHoverBorder);
  transition: var(--allTransition);
}

/*Media Queries*/

@media screen and (min-width: 768px) {
  .itemDetailContainer {
    max-width: 450px;
  }

  .itemDetailImg {
    object-fit: cover;
    height: auto;
    width: 100%;
  }

  .itemDetailName {
    font-size: 1.8rem;
  }

  .itemDetailPrice {
    font-size: 1.4rem;
  }

  .itemDetailDescrip {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .itemDetailStock,
  .itemDetailId,
  .itemDetailCategory {
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
  }

  .cartBtnIcon {
    width: 1.4rem;
  }

  .ItemDetailCartCount {
    font-size: 1.4rem;
    margin: 0 1.5rem;
  }

  .cartAddBtn {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .itemDetailContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
    max-width: 1100px;
    gap: 2rem;
    position: relative;
    margin-top: 5rem;
  }

  .itemDetailName {
    font-size: 2rem;
  }

  .itemDetailPrice {
    font-size: 1.7rem;
  }

  .itemDetailDescrip {
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
  }

  .itemDetailStock,
  .itemDetailId,
  .itemDetailCategory {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-bottom: 0.4rem;
  }

  .cartBtn {
    padding: 0.5rem 0.5rem;
  }

  .cartBtnIcon {
    width: 1.4rem;
  }

  .ItemDetailCartCount {
    font-size: 1.6rem;
    margin: 0 2rem;
  }

  .cartAddBtn {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    margin-bottom: 1.5rem;
  }

  .ItemDetailHomeBtn {
    position: absolute;
    top: -5.5rem;
  }
}

/*************************************/
/***********LOADING SPINNER**********/
/***********************************/

.sectionLoading {
  width: 90vw;
  height: 92vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
.loader {
  font-size: 10px;
  position: relative;
  /* text-indent: -9999em; */
  border-top: 1.1em solid var(--spinnerLight);
  border-right: 1.1em solid var(--spinnerLight);
  border-bottom: 1.1em solid var(--spinnerLight);
  border-left: 1.1em solid var(--spinner);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.8s infinite linear;
  animation: load8 0.8s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
