/*FONT IMPORT*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*VARIABLES*/
:root {
  /*https://colorpalettes.net/color-palette-4014/ */
  --background: #fffffe;
  --mainBrown: #7c4937;
  --lightBrown: #b98352;
  --highlightYelllow: #e2be32;
  --greyMagic: #655d5b;
  --mainWhite: #fffffe;

  /*NavBar*/
  --mobileCategory: #7c4937;

  /*Buttons*/
  --btnAddToCart: #56700f;

  /*Shadows*/
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  /*Transitions*/
  --allTransition: all 0.3s linear;
}

/*GLOBAL SETTINGS*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  cursor: default;
  font-weight: 400;
  color: var(--white);
}

/* NAVBAR*/

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0rem 1.5rem;
}

.navbarMenuIcon {
  width: 1.5rem;
  cursor: pointer;
}

.navbarLogo {
  width: 9rem;
}

.navbarFilterContainer {
  position: absolute;
  top: 100%;
  left: 0%;
  list-style-type: none;
  width: 100%;
}

.navbarFilterItem {
  padding: 0.4rem 0;
  width: 100%;
  cursor: pointer;
  padding-left: 1.5rem;
  transition: var(--allTransition);
}

.navbarFilterItem:hover {
  padding-left: 2rem;
  transition: var(--allTransition);
  background-color: var(--mobileCategory);
  color: var(--mainWhite);
}

.navbarFilterBtn {
  background-color: transparent;
  border: none;
}
